body {
  background-color: lightcoral;
}

.pai {
  border: 1px solid #000;
  background-color: lightblue;
}

ul {
  border: 2px solid #103
}

ul li {
  background-color: #298;
}

ul li a {
  background-color: bisque;
}